*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Generali */
body{
    font-family: 'Open Sans', sans-serif;
}

.bluebutton{
    background-color: #0160FF;
    color: #fff;
    padding: 7px 15px;
}

.bluebutton a{
    color: #fff;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}


/* Regole Header */
header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    background-color: #fff;
    width: 100vw;
    margin-bottom: 100px;
}

.left-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}

.right-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.sezione-header{
    padding: 20px;
}

/* Regole Main */
main{
    padding-top: 60px;
}

h1{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 40px;
    padding-top: 50px;
}

.wrapper{
    padding: 0 180px;
}

    /* Regole Jumbotron */
.jumbotron{
    background-color: #B3D0E7;
    margin-bottom: 70px;
}

.jumbotxtimg{
    display: flex;
}

.jumbo-container{
    margin: 20px 80px;
}

.jumbotext{
    width: 30%;
}

.jumboimg{
    width: 70%;
}

.jumboimg img{
    max-width: 100%;
}

#freetrial{
    margin-right: 160px;
}

/* Regole plan selector */
.plan-table{
    display: flex;
    margin: 30px auto;
}

.table-header{
    border-bottom: #000 1px solid;
    text-align: center;
}

.piano{
    border: #000 1px solid;
    margin: auto 25px;
}

.plan-info{
    padding: 20px 30px;
}

.plan-name{
    font-size: 25px;
    padding-bottom: 15px;
}

.price{
    padding-bottom: 15px;
}

.mese{
    padding-bottom: 15px;
    padding-top: 5px;
}

.plan-user{
    list-style-type: "\f007"
}

li{
    padding: 10px;
}


ul{
    padding-bottom: 15px;
}

.buynow{
    margin: 25px auto;
}

.plan-highlights{
    margin-top: 15px;
    padding-top: 15px;
}

.enterprise{
    display: flex;
    justify-content: space-between;
}

.horizontal-row{
    margin-top: 60px;
}

.solution{
    padding: 20px 30px;
}

/* Regole sezione trova un partner */
.find-partner{
    margin: 150px 25px;
    display: flex;
}
.partnerimg{
    height: auto;
}

.partnerimg img{
    max-width: 100%;
}

.partnertxt{
    display: inline;
    justify-content: center;
    align-items: center;
}


/* Regole sezione 6 cards */
.operations{
    display: flex;
    flex-wrap: wrap;
    padding: auto 50px;
    justify-content: space-between;
}

.strumenti{
    width: calc(100% / 3 - 50px);
    margin: 40px auto;
}

.strumenti h4{
    font-size: 28px;
    margin-bottom: 20px;
}

.strumenti-img{
    width: 250px;
    height: 250px;
}

.strumenti-img img{
    max-width: 100%;
}

/* Regole sezione clienti */
.team-client{
    margin: 50px 25px;
    padding-right: 400px;
}

h2{
    font-size: 50px;
    font-weight: 700;
}

.clienti a{
    text-decoration: underline;
    color: #0160FF;
}

/* Regole sezione company */

/* Regole Footer */

footer{
    padding-top: 250px;
    padding: 20px 80px;
    background-color: #000;
    color: #fff;
}

.footer-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}

.lingua{
    padding-top: 30px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 0;
    padding-right: 0;
    border-top: solid 2px;
    border-color: #BFBFBF;
}
